<p style="color: green"><%= notice %></p>

<%= render @user %>
<h2>First Micropost</h2>

<% @user.microposts.all.each do |micro| %>
  <%= micro.content %>
  <br>
<% end %>
<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
